body{background-image: url(https://cdnb.artstation.com/p/assets/images/images/013/525/381/large/kearns-claugherty-kearns-claugherty-paddys-pub-01.jpg?1539987937); background-repeat: none; margin: 0%;}

header{color:white; background-color: black; text-align: center; height:10%;}

.game-stats{height: 400px;}
